<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawVetCare | Contacto</title>
    <!-- Enlace al archivo CSS específico para la página de Material de interés -->
    <link rel="stylesheet" th:href="@{/css/contacto.css}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/imagotipoAzul.png" type="image/x-icon">
</head>
<body>
    <!-- Barra superior con navegación -->
    <header class="top-bar">
        <a th:href="@{/home}">
            <img src="../assets/isologoAzul.png" alt="Logo Azul">
        </a>
        <!-- Botones de navegación -->
        <nav>
            <div class="header-menu">
                <a th:href="@{/home}" class="header-menu-item">
                    HOME
                </a>
                </a>
                <a th:href="@{/equipo}" class="header-menu-item">
                    EQUIPO
                </a>
                <a th:href="@{/contacto}" class="header-menu-item selected">
                    CONTACTO
                    <div class="indicator"></div>
                </a>
            </div>
        </nav>
        <div class="button-container">
            <a th:href="@{/iniciarSesion}" class="buttonSoyPVC">Soy PVC</a>
            <a th:href="@{/registro}" class="buttonSinCuenta">NO TENGO CUENTA</a>
        </div>
    </header>
    <main>
        <!-- Contenido principal de la página -->
        <section class="content">
            <p class="primerTitulo">¡Ládranos o maúllanos a cualquier hora!</p>
            <!-- Galería de imágenes a la izquierda -->
            <aside class="image-gallery-left">
                <img src="../assets/circuloMascotaContacto1.png" alt="Imagen 1">
            </aside>
            <div class="form-container">
                <h2>Formulario de Contacto</h2>
                <form>
                    <label for="first-name">Primer Nombre</label>
                    <input type="text" id="first-name" name="first-name" required>
        
                    <label for="last-name">Apellido</label>
                    <input type="text" id="last-name" name="last-name" required>
        
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
        
                    <label for="subject">Asunto</label>
                    <input type="text" id="subject" name="subject" required>
        
                    <label for="message">Mensaje</label>
                    <textarea id="message" name="message" required></textarea>
        
                    <button type="submit">Enviar</button>
                </form>
            </div>
            <!-- Galería de imágenes a la derecha -->
            <aside class="image-gallery-right">
            <img src="../assets/circuloMascotaContacto2.png" alt="Imagen 2">
            </aside>
        </section>
            <div class="container-footer"></div>
        </section>
        <!-- Pie de página -->
        <footer class="footer">
            <img src="../assets/logotipoRosado.png" alt="Logo Footer">
            <p class="direccion">Carrera 13 #140 - 52A, Bogotá, Colombia</p>
            <p class="correo">info@petvetc.com</p>
            <p class="derechos">© 2024 SLM, Inc.</p>
            <div class ="iconos">
                <img src="../assets/iconos.png" alt="Logo Footer">
            </div>
        </footer>
    </main>
    <script src="js/contacto.js"></script>
</body>
</html>