<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PawVetCare: la mejor clínica veterinaria para el cuidado de tus mascotas en Bogotá.">
    <title>PawVetCare | Login Cliente</title>
    <!-- Enlace al archivo CSS específico para la página -->
    <link rel="stylesheet" th:href="@{/css/iniciarSesion.css}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/imagotipoAzul.png" type="image/x-icon">
</head>
<body>
    <!-- Barra superior con navegación -->
    <header class="top-bar">
        <a th:href="@{/landing/home}">
            <img src="../assets/isologoAzul.png" alt="Logo Azul">
        </a>
        <!-- Botones de navegación -->
        <nav>
            <div class="header-menu">
                <a th:href="@{/landing/home}" class="header-menu-item">HOME</a>
                <a th:href="@{/landing/equipo}" class="header-menu-item">EQUIPO</a>
                <a th:href="@{/landing/contacto}" class="header-menu-item">CONTACTO</a>
            </div>
        </nav>
        <div class="button-container">
            <a th:href="@{/iniciarSesion/form}" class="buttonSoyPVC">Soy PVC</a>
            <a th:href="@{/registro}" class="buttonSinCuenta">NO TENGO CUENTA</a>
        </div>
    </header>
    <main>
        <section class="content">
            <p class="primerTitulo">Escoge tu cuenta</p>
        
            <!-- Cliente -->
            <a href="/iniciarSesion/form">
                <div class="container-cliente">
                    <p class="text-cliente">¡Ya cuido a mi mascota!</p>
                    <img class="img-cliente" src="../assets/clienteInicio.png" alt="">
                </div>
            </a>
        
            <!-- Veterinario -->
            <a href="/iniciarSesion/veterinario">
                <div class="container-veterinario">
                    <p class="text-cliente">¡Soy Vet!</p>
                    <img class="img-cliente" src="../assets/veterinarioInicio.png" alt="">
                </div>
            </a>
        
            <!-- Administrador -->
            <a href="/iniciarSesion/admin">
                <div class="container-admin">
                    <p class="text-cliente">¡Soy Admin!</p>
                    <img class="img-cliente" src="../assets/administradora.png" alt="">
                </div>
            </a>
        </section>
        <!-- Pie de página -->
        <footer class="footer">
            <img src="../assets/logotipoRosado.png" alt="Logo Footer">
            <p class="direccion">Carrera 13 #140 - 52A, Bogotá, Colombia</p>
            <p class="correo">info@petvetc.com</p>
            <p class="derechos">© 2024 SLM, Inc.</p>
            <div class="iconos">
                <img src="../assets/iconos.png" alt="Iconos Footer">
            </div>
        </footer>
    </main>
</body>
</html>