<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PawVetCare: la mejor clínica veterinaria para el cuidado de tus mascotas en Bogotá.">
    <title>PawVetCare | Mostrar Todas Las Mascotas</title>
    <!-- Enlace al archivo CSS específico para la página -->
    <link rel="stylesheet" href="../css/mostrarTodasLasMascotas.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/imagotipoAzul.png" type="image/x-icon">
</head>
<body>
    <!-- Barra superior con navegación -->
    <header class="top-bar">
        <a th:href="@{/home}">
            <img src="../assets/isologoAzul.png" alt="Logo Azul">
        </a>
        <!-- Botones de navegación -->
        <nav>
            <div class="header-menu">
                <a th:href="@{/home}" class="header-menu-item selected">HOME<div class="indicator"></div></a>
                <a th:href="@{/equipo}" class="header-menu-item">EQUIPO</a>
                <a th:href="@{/contacto}" class="header-menu-item">CONTACTO</a>
            </div>
        </nav>
        <div class="button-container">
            <a th:href="@{/iniciarSesion}" class="buttonSoyPVC">Soy PVC</a>
            <a th:href="@{/registro}" class="buttonSinCuenta">NO TENGO CUENTA</a>
        </div>
    </header>
    <section class = "content">
        <div class="container-mascotas">
            <p class="primerTitulo">Mascotas</p>
            <table class="tabla">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>RAZA</th>
                        <th>EDAD</th>
                        <th>PESO</th>
                        <th>ENFERMEDAD</th>
                        <th>FOTO</th>
                        <th>ESTADO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="animal: ${mascotas}">
                        <td><img th:src="${animal.foto}" alt="cat"></td>
                        <td th:text="${animal.nombre}"></td>
                        <td th:text="${animal.raza}"></td>
                        <td th:text="${animal.edad}"></td>
                        <td th:text="${animal.peso}"></td>
                        <td th:text="${animal.enfermedad}"></td>
                        <td>
                            <div class="estado">
                                <img th:if="${animal.estado == true}" th:src="@{/assets/check.png}" alt="Check icon">
                                <img th:if="${animal.estado == false}" th:src="@{/assets/wrong.png}" alt="Wrong icon">
                            </div> 
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </section>
    <!-- Pie de página -->
    <footer class="footer">
        <img src="../assets/logotipoRosado.png" alt="Logo Footer">
        <p class="direccion">Carrera 13 #140 - 52A, Bogotá, Colombia</p>
        <p class="correo">info@petvetc.com</p>
        <p class="derechos">© 2024 SLM, Inc.</p>
        <div class="iconos">
            <img src="../assets/iconos.png" alt="Iconos Footer">
        </div>
    </footer>
</body>
</html>